{% extends 'index.html' %}
{% block title %}
    <title>{{ obj.title }}</title>
{% endblock %}
{% block content %}
    <div class="blog">
		<!-- container -->
		<div class="container">
			<div class="col-md-9 blog-grids">
            {% block for_search %}{% endblock %}
                {% if not posts %}
                    <h3>Здесь пока пусто!</h3>
                {% endif %}
                {% for post in posts %}
                    {% load filters %}
                    <div class="blog-left single-left">
                        <a href="{% url 'page_post' post.slug %}">{{ post.title }}</a>
                        <p class="likes">Размещено {{ post.date }} (автор: {{ post.user.first_name }}) / {{ genre_comments }}
                            {{ genre_comments|declenation_comment }}</p>
                        <a href="{% url 'page_post' post.slug %}" class="b-img"><img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="" /></a>
                        <p>{{ post.description }}</p>
                        <a href="{% url 'page_post' post.slug %}" class="more">Читать далее...</a>
                    </div>
                {% endfor %}

			</div>
            {% include 'search_archive_gallery.html' %}

        {% block pagination %}
        {% endblock %}
		</div>
		<!-- //container -->
	</div>
{% endblock %}