{% extends 'posts.html' %}
{% block title %}
    <title>Поиск</title>
{% endblock %}
{% block for_search %}
    <h2>Результаты поиска: <i>{{ query }}</i></h2>
    {% if not posts %}
        <div class="blog-left single-left">
            <h3><i>Ничего не найдено</i></h3>
        </div>
    {% endif %}
{% endblock %}
{% block pagination %}
    {% if posts.has_other_pages %}
        <ul class="pagin">
            {% if posts.has_previous %}
                <li>
                    <a href="{{ request.path }}?query={{ query }}&amp;page={{ posts.previous_page_number }}">Назад</a>
                </li>
            {% else %}
                <li>Назад</li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="current">{{ i }}</li>
                {% else %}
                    <li class="current">
                        <a href="{{ request.path }}?query={{ query }}&amp;page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li>
                    <a href="{{ request.path }}?query={{ query }}&amp;page={{ posts.next_page_number }}">Вперёд</a>
                </li>
            {% else %}
                <li>Вперёд</li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}