{% extends 'posts.html' %}
{% block title %}
    <title>{{ post.title }}</title>
{% endblock %}
{% block content %}
    <div class="blog">
		<!-- container -->
		<div class="container">
			<div class="col-md-9 blog-grids">
				<div class="blog-left single-left">
					<h4>{{ post.title }}</h4>
					<img src="{{ post.image.url }}" alt="" />
                    {% load filters %}
					<p class="likes">Размещено {{ post.date }} (автор: {{ post.user.first_name }}) / {{ post_comments.count }}
                        {{ post_comments.count|declenation_comment }}</p>
                    <p><b>Жанр: </b>{{ post.genre }}</p>
                    <p><b>Страна: </b>{{ post.country }}</p>
                    <p><b>Год выхода: </b>{{ post.year }}</p>
                    <p><b>Актёры: </b>{{ post.actors }}</p>
                    <p><b>Режиссёр: </b>{{ post.director }}</p>
                    <p><b>Продолжительность: </b>{{ post.play|convert_minutes }}</p>
					<p><b>Описание:</b><br>{{ post.text|linebreaksbr }}</p>
				</div>
				<div class="single-grids">
					<h2>Комментарии ({{ post_comments.count }})</h2>
                    {% for post_comment in post_comments %}
                        <div class="single-comment">
                            <div class="col-md-10 single-comment-right">
                                <h6><b>{{ post_comment.date }} / {{ post_comment.name }}</b></h6>
                                <p>{{ post_comment.text }}</p>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    {% endfor %}
				</div>
				<div class="single-reply">
					<h4>Написать комментарий</h4>
					<form action="#" method="POST">
                        {% csrf_token %}
						{{ form }}
						<input type="submit" value="Отправить">
					</form>
				</div>
			</div>
			{% include 'search_archive_gallery.html' %}
		</div>
		<!-- //container -->
	</div>
{% endblock %}